/* root element */
:root {
    --main-bg-color: #383838;
    --note-bg-color: #484848;
    --note-border: 0 0 2px 5px #282828;
    --note-button-bg-color: #606060;
    --note-button-bg-color-hover: 	#505050;
    --button-bg-color: #4CAF50;
    --button-bg-color-hover: #15811A;
    --button-text-color: #FFFFFF;
    --border-color: #101010;
    --bar-slot-bg-color: #808080;
    --bar-border-color: #FFCB05;
    --attColor: #FFD700;
    --strColor: #FFA500;
    --magColor: #00008B;
    --ranColor: #006400;
    --conColor: #A80000;
    --defColor: #4B4B4B;
    --textColor1: #D0D0D0;
    --textColor2: #000000;
}

.body {
    background-color: var(--main-bg-color);
    height: 100vh;
}

.topnav {
  overflow: hidden;
  background-color: var(--border-color);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: var(--button-bg-color);
  color: white;
}

.topnav a.active:hover {
  background-color: var(--button-bg-color-hover);
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px 16px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    background-color: #4CAF50;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.topnav .search-container button:hover {
    background: #15811A;
}

.costumfooter {
    display: table-row;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
    margin-top: 30px;
    width: 100%;
    background-color: #202020;
    color: #BEBEBE;
    text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #282828;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4CAF50;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #15811A;
}


/* BUTTON GROUP ELEMENT */
/* a button declared within a btn-group */
.btn-group button {
    display: block;
    margin-top: 20px;
    background-color: var(--button-bg-color);
    border: 1px solid var(--border-color);
    color: var(--button-text-color); /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    transition: 0.3s;
}
/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
/* Add a background color on hover */
.btn-group button:hover {
    background-color: var(--button-bg-color-hover);
}
/* changes the default outline when clicking on button */
.btn-group button:focus {
    outline: 0 !important;
    background-color: var(--button-bg-color-hover);
}

/* note at the top of the screen */
.note {
    color: var(--textColor1);
    margin: auto;
    text-align: left;
    width: 700px;
    box-shadow: var(--note-border);
    background-color: var(--note-bg-color);
    line-height: normal;
    mc-auto-number-format: '{b}Note: {/b}';
    overflow: hidden;
}

.note-collapsible {
    color: var(--textColor1);
    background-color: var(--note-bg-color);
    width: 700px;
}

.note-button {
    display: inline-block;
    width: 700px;
    height: 30px;
    margin-top: 0px;
    background-color: var(--note-button-bg-color);
    border: 0px;
    color: var(--button-text-color); /* White text */
    cursor: pointer; /* Pointer/hand icon */
    transition: 0.3s;
}

.note-button:hover {
    background-color: var(--note-button-bg-color-hover);
}

/* used to hide a block for button use */
.content {
    display: block;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
  background: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  z-index = 1;
  position: absolute;
  transition: margin-left .5s;
  padding: 16px;
}


