{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Revolution/bar.css') }}">
{% endblock %}
{% block title %}Revolution{% endblock %}
{% block content %}

<div class="note">
  <h2 style="text-align: center; margin-bottom: 15px; margin-top: 15px;">Revolution Bar <span style="font-size:small;">V1.05.3</span></h2>
  <button id="guide-button" class="note-button">General Info</button>
  <div id="Bar-guide" class="content note-collapsible">
    <p style="margin-top: 10px; margin-left: 15px; margin-right: 15px;">
      Look through the combat sections for the abilities you want to put on the bar. If you want more information
      about a certain ability, hold CTRL and click on it, this will open up its RS3 wiki page. <br><br>

      Constructing the revolution bar is as simple as:</p>
      <ul>
        <li>Clicking on abilities to make them appear in the first available slot on the bar.</li>
        <li>Dragging them onto a slot.</li>
        <li>Left clicking on an ability on the bar removes it.</li>
        <li>The "clear bar" button removes all abilities from the bar.</li>
        <li>Switching abilities on the bar can be done by dragging and dropping.</li>
      </ul>
    <p style="margin-left: 15px; margin-right: 15px;">
      Also, have a look at the options section for perks, boosts and much more.<br><br>

      When you've set up your desired bar with the proper options, you should click on the FIGHT! button. A fight between a player and
      a dummy will now be simulated resulting in an Average Ability Damage Per Tick (AADPT) output (in both a number and a percentage
      of the base ability damage as calculated
      <a href="https://runescape.wiki/w/Ability_damage#Calculating_ability_damage" target="_blank" style="color: #4CAF50"><strong>on the rs3 wiki</strong></a>).
      Clicking on this resulting number will allow you to view some more interesting information.<br><br>

      If anything is wrong or if you have any suggestions please let me know by contacting me on
      reddit: <a style="color: #4CAF50" href="https://www.reddit.com/user/ftwmickywtf"><strong>u/FTWmickyWTF</strong></a> or ingame:
      <a style="color: #4CAF50" href="https://apps.runescape.com/runemetrics/app/overview/player/asada-san"><strong>Asada-san</strong></a>.

      {# sending an email to:
      <a style="color: #4CAF50" href="mailto:RS-RevolutionCalc@outlook.com">RS-RevolutionCalc@outlook.com</a>.#}
    </p>
  </div>
  <button id="notes-button" class="note-button">Important Notes</button>
  <div id="Bar-notes" class="content note-collapsible">
    <ul style="margin-top: 10px; margin-right: 15px;">
      <li style="color: red;">The more damage boosting options are used, the more probable it is that the output damage is wrong due to orders in which
      these are applied. If you notice any errors, please let me know! (see general info for places to contact me)</li>
      <li>Average ability damages are used for the calculating the AADPT.</li>
      <li>Tuska's Wrath does its normal damage only. When fighting slayer creatures, please
      don't let revolution activate this ability, but instead activate it manually once every
      2 minutes.</li>
      <li>As the resulting A --> Ability <-- DPT suggests, auto attacks are not taken into account.</li>
      <li>All ability information used to determine the AADPT is summarized on a <a href="https://github.com/Asada-san/RunescapeCalculator/blob/master/AbilityInfo.xlsx" target="_blank" style="color: #4CAF50"><strong>spreadsheet</strong></a>.</li>
      <li>The code (including html, js, css and python files) have been uploaded to <a href="https://github.com/Asada-san/RunescapeCalculator" target="_blank" style="color: #4CAF50"><strong>Github</strong></a>. You're free to use it however you want.</li>
      <li>All ability images were yoinked from the RS3 wiki.</li>
    </ul>
  </div>
  <button id="changelog-button" class="note-button">Changelog</button>
  <div id="Changelog-notes" class="content note-collapsible">
    <p style="margin-top: 10px; margin-left: 15px; margin-right: 15px;"><strong>V1.05.3 - 21-12-2020</strong></p>
    <ul style="margin-top: 10px; margin-right: 15px;">
      <li>Added a counter</li>
    </ul>
    <p style="margin-top: 10px; margin-left: 15px; margin-right: 15px;"><strong>V1.05.2 - 14-12-2020</strong></p>
    <ul style="margin-top: 10px; margin-right: 15px;">
      <li>Added Greater Chain and Greater Ricochet</li>
      <li>Fixed an issue with Wild Magic</li>
      <li>Set Dragon Breath target cap to 4 and increased its adrenaline gain to 10 when it hits 2 or more targets</li>
    </ul>
    <p style="margin-top: 10px; margin-left: 15px; margin-right: 15px;"><strong>V1.05.1 - 18-10-2020</strong></p>
    <ul style="margin-top: 10px; margin-right: 15px;">
      <li>Added the Devotion ability</li>
    </ul>
    <p style="margin-top: 10px; margin-left: 15px; margin-right: 15px;"><strong>V1.05.0 - 11-8-2020</strong></p>
    <ul style="margin-top: 10px; margin-right: 15px;">
      <li>Left clicking on abilities in their respective sections now puts them in the first
        available slot on the bar</li>
      <li>Left clicking + CTRL now links to the ability's wiki page</li>
      <li>Added a new ability info table which can be seen when clicked on the resulting AADPT number</li>
      <li>Added the Archaeology relics: Heightened Senses, Fury of the Small, Conservation of
        Energy and Berserker's Fury</li>
      <li>Added Perks: Shield Bashing</li>
      <li>Fixed an issue where bleed abilities would be nulled when using the Planted Feet perk</li>
      <li>Limited AoE abilities to be able to damage max 9 targets except for corruption shot&blast</li>
      <li>Changed seconds to ticks within the code for clarity</li>
    </ul>
    <p style="margin-top: 10px; margin-left: 15px; margin-right: 15px;"><strong>V1.04.0</strong></p>
    <ul style="margin-top: 10px; margin-right: 15px;">
      <li>Added Caroming, Ruthless (as a flat damage bonus) and Reflexes perk</li>
      <li>Increased maximum amount of targets to 10</li>
      <li>Added Freedom and Anticipation abilities</li>
      <li>Fixed an issue where planted feet wasn't working</li>
    </ul>
    <p style="margin-top: 10px; margin-left: 15px; margin-right: 15px;"><strong>V1.03.1</strong></p>
    <ul style="margin-top: 10px; margin-right: 15px;">
      <li>Cleaned out/changed/created several directories</li>
      <li>Added Hurricane + Destroy to the shared ability cooldown list</li>
      <li>Fixed an issue where certain abilities would be on cooldown indefinitely</li>
    </ul>
    {# <p style="margin-top: 10px; margin-left: 15px; margin-right: 15px;"><strong>V1.03.0</strong></p>
    <ul style="margin-top: 10px; margin-right: 15px;">
      <li>All average ability damages are now calculated properly within the code instead of reading
        values from an excel sheet</li>
      <li>Added Precise, Equilibrium, Biting, Flanking and Lunging perks</li>
      <li>Moved the options block and increased its size</li>
      <li>Rewrote code so all player equipment related options are now assigned to the player object instead of them
        being all over the place</li>
      <li>Added Concentrated Blast, Fury and Greater Fury effects related to critical hits</li>
      <li>Added a fourth condition for the cycle finder: Forced critical hit boost has to be equal too</li>
      <li>Added Meteor Strike, Sunshine and Incendiary adrenaline boosting effect due to crits --- might be wonky</li>
      <li>Added the aftershock perk and therefore also added the base damage back, and this time properly!</li>
      <li>Added level 20 gear option and Erethdor's Grimoire</li>
      <li>Added 2 defensive abilities: Debilitate and Bash</li>
      <li>Base Ability Damage Boosts are now applied properly and in the right place</li>
      <li>Added Equilibrium aura and made the average hit calculator more accurate</li>
      <li>Widened certain blocks</li>
      <li>Added Berserker, Maniacal and Reckless aura's</li>
      <li>Added Damage boosts from level increasing boosts like the aura's above or potions</li>
      <li>Added Prayer boosts</li>
      <li>Added print more info button in options for python script</li>
      <li>Rewrote code resulting in a slight decrease in python script runtime but increasing the readability of the
        script</li>
      <li>Made it so ability info is read from excel only once upon startup instead of every time the FIGHT! button is
        pressed resulting in a significant decrease in execution time, especially for bars with
        small cycle times</li>
      <li>Moved host from DigitalOcean (paid) to Heroku (free)</li>
      <li>Added Options Info section</li>
    </ul> #}
    <p style="margin-top: 10px; margin-left: 15px; margin-right: 15px;"><strong>V1.03.0 and earlier not available</strong></p>
  </div>
</div>

<div class="centering">
  <div class="btn-group">
    <button id="OptBtn" class="Options">Options</button>
    <button id="OptInfoBtn" class="Options">Options Info</button>
  </div>
</div>

<div id="optBlock" class="content OptionBlock" style="background-color: #DGDGDG; margin-top: 20px;">
  <form id="optmenu" name="optmenu" action="/action_page.php" method="get">
    <div class="optsect" style="width: 50px;"></div>

    <div id="AbilityOptions1" class="optsect">
      <p style="margin-left: 15px; margin-top: 15px; text-align: center; font-weight: bold; color: var(--textColor2);">Strength Boost</p>
      <label class="OptText" for="StrengthBoost">Level Boost:
        <input type="number" id="StrengthBoost" name="fname" min="0" max="60" value="0" style="width: 50px;"><br>
      </label>
      <label class="OptSelect" for="StrengthPrayer" style="margin-left: 15px; margin-right: 15px;">
        <select id="StrengthPrayer" style="float: center; width: 100%;" >
          <option value="1" disabled selected hidden>Strength Prayer</option>
          <option value="1">None</option>
          <option value="1.02">Burst of Strength</option>
          <option value="1.04">Superhuman Strength</option>
          <option value="1.06">Ultimate Strength</option>
          <option value="1.08">Piety</option>
          <option value="1.10">Turmoil</option>
          <option value="1.12">Malevolence</option>
        </select>
      </label>
      <p style="margin-left: 15px; margin-top: 15px; text-align: center; font-weight: bold; color: var(--textColor2);">Magic Boost</p>
      <label class="OptText" for="MagicBoost">Level Boost:
        <input type="number" id="MagicBoost" name="fname" min="0" max="60" value="0" style="width: 50px;"><br>
      </label>
      <label class="OptSelect" for="MagicPrayer" style="margin-left: 15px; margin-right: 15px;">
        <select id="MagicPrayer" style="float: center; width: 100%;" >
          <option value="1" disabled selected hidden>Magic Prayer</option>
          <option value="1">None</option>
          <option value="1.02">Charge</option>
          <option value="1.04">Super Charge</option>
          <option value="1.06">Overcharge</option>
          <option value="1.08">Augury</option>
          <option value="1.10">Torment</option>
          <option value="1.12">Affliction</option>
        </select>
      </label>
      <p style="margin-left: 15px; margin-top: 15px; text-align: center; font-weight: bold; color: var(--textColor2);">Ranged Boost</p>
      <label class="OptText" for="RangedBoost">Level Boost:
        <input type="number" id="RangedBoost" name="fname" min="0" max="60" value="0" style="width: 50px;"><br>
      </label>
      <label class="OptSelect" for="RangedPrayer" style="margin-left: 15px; margin-right: 15px;">
        <select id="RangedPrayer" style="float: center; width: 100%;" >
          <option value="1" disabled selected hidden>Ranged Prayer</option>
          <option value="1">None</option>
          <option value="1.02">Unstoppable Force</option>
          <option value="1.04">Unrelenting Force</option>
          <option value="1.06">Overpowering Force</option>
          <option value="1.08">Rigour</option>
          <option value="1.10">Anguish</option>
          <option value="1.12">Desolation</option>
        </select>
      </label>
    </div>

    <div id="AbilityOptions2" class="optsect">
      <p style="margin-left: 15px; margin-top: 15px; text-align: center; font-weight: bold; color: var(--textColor2);">Invention Perks</p>
      <label class="SingleOpt" for="Level20Gear" style="margin-left: 20px;">Level 20 Gear
        <input id="Level20Gear" type="checkbox" value="true">
        <span class="tickbox"></span>
      </label>
      <label class="SingleOpt" for="PlantedFeet" style="margin-left: 20px;">Planted Feet
        <input id="PlantedFeet" type="checkbox" value="true">
        <span class="tickbox"></span>
      </label>
      <label class="SingleOpt" for="Reflexes" style="margin-left: 20px;">Reflexes
        <input id="Reflexes" type="checkbox" value="true">
        <span class="tickbox"></span>
      </label>
      <label class="OptSelect" for="Precise" style="margin-left: 15px; margin-right: 15px;">
        <select id="Precise" style="float: center; width: 100%;" >
          <option value="0" disabled selected hidden>Precise Perk</option>
          <option value="0">None</option>
          <option value="1">Precise 1</option>
          <option value="2">Precise 2</option>
          <option value="3">Precise 3</option>
          <option value="4">Precise 4</option>
          <option value="5">Precise 5</option>
          <option value="6">Precise 6</option>
        </select>
      </label>
      <label class="OptSelect" for="Equilibrium" style="margin-left: 15px; margin-right: 15px;">
        <select id="Equilibrium" style="float: center; width: 100%;" >
          <option value="0" disabled selected hidden>Equilibrium Perk</option>
          <option value="0">None</option>
          <option value="1">Equilibrium 1</option>
          <option value="2">Equilibrium 2</option>
          <option value="3">Equilibrium 3</option>
          <option value="4">Equilibrium 4</option>
        </select>
      </label>
      <label class="OptSelect" for="Biting" style="margin-left: 15px; margin-right: 15px;">
        <select id="Biting" style="float: center; width: 100%;" >
          <option value="0" disabled selected hidden>Biting Perk</option>
          <option value="0">None</option>
          <option value="1">Biting 1</option>
          <option value="2">Biting 2</option>
          <option value="3">Biting 3</option>
          <option value="4">Biting 4</option>
        </select>
      </label>
      <label class="OptSelect" for="Flanking" style="margin-left: 15px; margin-right: 15px;">
        <select id="Flanking" style="float: center; width: 100%;" >
          <option value="0" disabled selected hidden>Flanking Perk</option>
          <option value="0">None</option>
          <option value="1">Flanking 1</option>
          <option value="2">Flanking 2</option>
          <option value="3">Flanking 3</option>
          <option value="4">Flanking 4</option>
        </select>
      </label>
      <label class="OptSelect" for="Lunging" style="margin-left: 15px; margin-right: 15px;">
        <select id="Lunging" style="float: center; width: 100%;" >
          <option value="0" disabled selected hidden>Lunging Perk</option>
          <option value="0">None</option>
          <option value="1">Lunging 1</option>
          <option value="2">Lunging 2</option>
          <option value="3">Lunging 3</option>
          <option value="4">Lunging 4</option>
        </select>
      </label>
      <label class="OptSelect" for="Caroming" style="margin-left: 15px; margin-right: 15px;">
        <select id="Caroming" style="float: center; width: 100%;" >
          <option value="0" disabled selected hidden>Caroming Perk</option>
          <option value="0">None</option>
          <option value="1">Caroming 1</option>
          <option value="2">Caroming 2</option>
          <option value="3">Caroming 3</option>
          <option value="4">Caroming 4</option>
        </select>
      </label>
      <label class="OptSelect" for="Ruthless" style="margin-left: 15px; margin-right: 15px;">
        <select id="Ruthless" style="float: center; width: 100%;" >
          <option value="0" disabled selected hidden>Ruthless Perk</option>
          <option value="0">None</option>
          <option value="1">Ruthless 1</option>
          <option value="2">Ruthless 2</option>
          <option value="3">Ruthless 3</option>
        </select>
      </label>
      <label class="OptSelect" for="Aftershock" style="margin-left: 15px; margin-right: 15px;">
        <select id="Aftershock" style="float: center; width: 100%;" >
          <option value="0" disabled selected hidden>Aftershock Perk</option>
          <option value="0">None</option>
          <option value="1">Aftershock 1</option>
          <option value="2">Aftershock 2</option>
          <option value="3">Aftershock 3</option>
          <option value="4">Aftershock 4</option>
        </select>
      </label>
      <label class="OptSelect" for="ShieldBashing" style="margin-left: 15px; margin-right: 15px;">
        <select id="ShieldBashing" style="float: center; width: 100%;" >
          <option value="0" disabled selected hidden>Shield Bashing Perk</option>
          <option value="0">None</option>
          <option value="1">Shield Bashing 1</option>
          <option value="2">Shield Bashing 2</option>
          <option value="3">Shield Bashing 3</option>
          <option value="4">Shield Bashing 4</option>
        </select>
      </label>
    </div>

    <div id="PlayerOptions" class="optsect">
      <p style="margin-left: 15px; margin-top: 15px; text-align: center; font-weight: bold; color: var(--textColor2);">Equipment</p>
      <label class="SingleOpt" for="StrengthCape" style="margin-left: 20px;">Strength Cape
        <input id="StrengthCape" type="checkbox" value="true">
        <span class="tickbox"></span>
      </label>
      <label class="SingleOpt" for="RoV" style="margin-left: 20px;">Ring of Vigour
        <input id="RoV" type="checkbox" value="true">
        <span class="tickbox"></span>
      </label>
      <label class="SingleOpt" for="MSoA" style="margin-left: 20px;">MS of Annihilation
        <input id="MSoA" type="checkbox" value="true">
        <span class="tickbox"></span>
      </label>
      <label class="SingleOpt" for="Grimoire" style="margin-left: 20px;">Erethdor's Grimoire
        <input id="Grimoire" type="checkbox" value="true">
        <span class="tickbox"></span>
      </label>
      <label class="OptSelect" for="Aura" style="margin-left: 15px; margin-right: 15px;">
        <select id="Aura" style="float: center; width: 100%;" >
          <option value="None" disabled selected hidden>Aura</option>
          <option value="None">None</option>
          <option value="Equilibrium">Equilibrium</option>
          <option value="Berserker">Berserker</option>
          <option value="Maniacal">Maniacal</option>
          <option value="Reckless">Reckless</option>
        </select>
      </label>
      <p style="margin-left: 15px; margin-top: 15px; text-align: center; font-weight: bold; color: var(--textColor2);">Bash Ability</p>
      <label class="OptText" for="DefenceLevel">Defence Level:
        <input type="number" id="DefenceLevel" name="fname" min="0" max="200" value="99" style="width: 50px;"><br>
      </label>
      <label class="OptText" for="ShieldArmourValue">Shield Armour:
        <input type="number" id="ShieldArmourValue" name="fname" min="0" max="1000" value="491" style="width: 50px;"><br>
      </label>
    </div>

    <div id="DummyOptions" class="optsect">
      <p style="margin-left: 15px; margin-top: 15px; text-align: center; font-weight: bold; color: var(--textColor2);">Player</p>
      <label class="SingleOpt" for="afkStatus" style="margin-left: 20px;">Efficient
        <input id="afkStatus" type="checkbox" value="true">
        <span class="tickbox"></span>
      </label>
      <label class="SingleOpt" for="switchStatus" style="margin-left: 20px;">Switcher
        <input id="switchStatus" type="checkbox" value="true">
        <span class="tickbox"></span>
      </label>
      <label class="OptText" for="baseDamage">Ability Damage:
        <input type="number" id="baseDamage" name="fname" min="0" max="10000" value="1000"><br>
      </label>
      <p style="margin-top: 15px; text-align: center; font-weight: bold; color: var(--textColor2);">Dummy</p>
      <label class="SingleOpt" for="movementStatus" style="margin-left: 20px;">Stationary
        <input id="movementStatus" type="checkbox" value="true" checked>
        <span class="tickbox"></span>
      </label>
      <label class="SingleOpt" for="stunbindStatus" style="margin-left: 20px;">Stun&Bind Immune
        <input id="stunbindStatus" type="checkbox" value="true">
        <span class="tickbox"></span>
      </label>
      <label class="OptSelect" for="nTargets" style="margin-left: 15px; margin-right: 15px;">Targets:
        <select id="nTargets" style="float: right; width: 62%;" >
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </label>
    </div>

    <div id="Relics&PythonScriptOptions" class="optsect">
      <p style="margin-top: 15px; text-align: center; font-weight: bold; color: var(--textColor2);">Archaeology Relics</p>
      <label class="SingleOpt" for="HeightenedSenses" style="margin-left: 20px;">Heightened Senses
        <input id="HeightenedSenses" type="checkbox" value="true">
        <span class="tickbox"></span>
      </label>
      <label class="SingleOpt" for="FotS" style="margin-left: 20px;">Fury of the Small
        <input id="FotS" type="checkbox" value="true">
        <span class="tickbox"></span>
      </label>
      <label class="SingleOpt" for="CoE" style="margin-left: 20px;">Conserv. of Energy
        <input id="CoE" type="checkbox" value="true">
        <span class="tickbox"></span>
      </label>
      </label>
        <label class="OptText" for="BerserkersFury">Berserker's Fury:
        <input style="width: 60px;" type="number" step="0.1" id="BerserkersFury" name="fname" min="0" max="5.5" value="0"><br>
      </label>

      <p style="margin-top: 15px; text-align: center; font-weight: bold; color: var(--textColor2);">Python Script</p>
      <label class="OptText" for="simulationTime">Simulation T(s):
        <input type="number" id="simulationTime" name="fname" min="0" max="3600" value="0" style="float: right;"><br>
      </label>
      <label class="OptText" for="Adrenaline">Start Adrenaline:
        <input type="number" id="Adrenaline" name="fname" min="0" max="100" value="0" style="width: 50px; float: right;"><br>
      </label>
      <label class="SingleOpt" for="HTMLwrite" style="margin-left: 20px;">Print more info
        <input id="HTMLwrite" type="checkbox" value="true">
        <span class="tickbox"></span>
      </label>
    </div>

    <div class="optsect" style="width: 50px;"></div>
  </form>
</div>

<div id="optInfoBlock" class="content OptionBlock" style="background-color: #DGDGDG;">
  <div class="optsect" style="width: 50px;"></div>
  <div id="AbilityInfo1" class="optsect" style="width: 500px;">
    <p style="margin-left: 15px; margin-top: 15px; color: var(--textColor2);">
      <strong>Level Boost:</strong> The amount of boosted levels (above your base level) due to
      potions and/or aura's (min:0, max:60).<br><br>
      <strong>Level 20 Gear:</strong> Assumes the equipment levels of all augmented items are equal to
      level 20.<br><br>
      <strong>Flanking Perk:</strong> Assumes the target is not facing you at all times.<br><br>
      <strong>Ruthless Perk:</strong> Assumes the player starts attacking with a full stack (5)
      and the stack is never reset.<br><br>
      <strong>Efficient:</strong> Assumes the player breaks channeling abilities such that they still
      do all their damage (except for Concentrated Blast which cuts off after 2 hits) but the next
      ability is activated earlier.<br><br>
      <strong>Switcher:</strong> Assumes the player switches between 2h/dual/shield whenever required
      for the next available ability.<br><br>
      <strong>Ability Damage:</strong> The ability damage as calculated in the
      <a href="https://runescape.wiki/w/Ability_damage#Calculating_ability_damage" target="_blank" style="color: blue">"Calculating ability damage"</a>
      section on the RS3 wiki (Min:1, Max:10000).<br><br>
    </p>
  </div>
  <div id="AbilityInfo2" class="optsect" style="width: 500px;">
    <p style="margin-left: 15px; margin-top: 15px; color: var(--textColor2);">
      <strong>Stationary:</strong> Assumes the dummy is stuck in place, meaning bleed damage won't
      be multiplied. When not ticked, bleed damage is multiplied for all hits (unless the dummy is
      stunned and/or bound).<br><br>
      <strong>Stun&Bind Immune:</strong> Assumes the dummy is immune to stuns and binds from abilities.<br><br>
      <strong>Targets:</strong> Number of targets within reach for all AoE abilities.<br><br>
      <strong>Simulation T(s) and Start Adrenaline</strong> When a value has been set for both the
      Simulation Time (in seconds, min:1, max:3600) and the Starting Adrenaline (min:0, max:100), the Python
      script won't detect cycles but instead runs for the given simulation time and determines the
      Damage Per Tick (DPT) in that time.<br><br>
      <strong>Print more info:</strong> When ticked, up to the first 5 minutes of the simulation time can
      be verified upon clicking the resulting AADPT number (mostly used for debugging purposes).<br><br>
    </p>
  </div>
  <div class="optsect" style="width: 50px;"></div>
</div>

<div class="centering">
  <div class="btn-group">
    <button id="AttBtn" class="collapsible">Attack</button>
    <button id="StrBtn" class="collapsible">Strength</button>
    <button id="MagBtn" class="collapsible">Magic</button>
    <button id="RanBtn" class="collapsible">Ranged</button>
    <button id="ConBtn" class="collapsible">Constitution</button>
    <button id="DefBtn" class="collapsible">Defence</button>
  </div>
</div>

<div id="attabils" class="content AbilBlock" style="background-color: #FFD700; margin-top: 20px;">
  <div class="attbox">
    <div class="AbilType">Basic</div>
    <div class="att">
      <img src="static/Revolution/AbilityImages/Slice.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Slice" width="60" height="60">
    </div>
    <div class="att">
      <img src="static/Revolution/AbilityImages/Backhand.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Backhand" width="60" height="60">
    </div>
    <div class="att">
      <img src="static/Revolution/AbilityImages/Havoc.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Havoc" width="60" height="60">
    </div>
    <div class="att">
      <img src="static/Revolution/AbilityImages/Smash.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Smash" width="60" height="60">
    </div>
    <div class="att">
      <img src="static/Revolution/AbilityImages/Barge.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Barge" width="60" height="60">
    </div>
    <div class="att">
      <img src="static/Revolution/AbilityImages/Greater_Barge.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Greater_Barge" width="60" height="60">
    </div>
    <div class="att">
      <img src="static/Revolution/AbilityImages/Sever.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Sever" width="60" height="60">
    </div>
    <div class="att">
      <img src="static/Revolution/AbilityImages/Bladed_Dive.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Bladed_Dive" width="60" height="60">
    </div>
  </div>

  <div class="attbox">
    <div class="AbilType">Threshold</div>
    <div class="att">
      <img src="static/Revolution/AbilityImages/Slaughter.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Slaughter" width="60" height="60">
    </div>
    <div class="att">
      <img src="static/Revolution/AbilityImages/Forceful_Backhand.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Forceful_Backhand" width="60" height="60">
    </div>
    <div class="att">
      <img src="static/Revolution/AbilityImages/Flurry.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Flurry" width="60" height="60">
    </div>
    <div class="att">
      <img src="static/Revolution/AbilityImages/Greater_Flurry.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Greater_Flurry" width="60" height="60">
    </div>
    <div class="att">
      <img src="static/Revolution/AbilityImages/Hurricane.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Hurricane" width="60" height="60">
    </div>
    <div class="att">
      <img src="static/Revolution/AbilityImages/Blood_Tendrils.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Blood_Tendrils" width="60" height="60">
    </div>
  </div>

  <div class="attbox">
    <div class="AbilType">Ultimate</div>
    <div class="att">
      <img src="static/Revolution/AbilityImages/Overpower.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Overpower" width="60" height="60">
    </div>
    <div class="att">
      <img src="static/Revolution/AbilityImages/Massacre.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Massacre" width="60" height="60">
    </div>
    <div class="att">
      <img src="static/Revolution/AbilityImages/Meteor_Strike.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Meteor_Strike" width="60" height="60">
    </div>
    <div class="att">
      <img src="static/Revolution/AbilityImages/Balanced_Strike.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Balanced_Strike" width="60" height="60">
    </div>
  </div>

  <div class="attbox">
    <div class="AbilType">Lesser</div>
    <div class="att">
      <img src="static/Revolution/AbilityImages/Lesser_Havoc.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Lesser_Havoc" width="60" height="60">
    </div>
    <div class="att">
      <img src="static/Revolution/AbilityImages/Lesser_Smash.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Lesser_Smash" width="60" height="60">
    </div>
    <div class="att">
      <img src="static/Revolution/AbilityImages/Lesser_Sever.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Lesser_Sever" width="60" height="60">
    </div>
  </div>
</div>

<div id="strabils" class="content AbilBlock" style="background-color: #FFA500;">
  <div class="strbox">
    <div class="AbilType" style="background-color: var(--strColor);">Basic</div>
    <div class="str">
      <img src="static/Revolution/AbilityImages/Kick.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Kick" width="60" height="60">
    </div>
    <div class="str">
      <img src="static/Revolution/AbilityImages/Punish.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Punish" width="60" height="60">
    </div>
    <div class="str">
      <img src="static/Revolution/AbilityImages/Dismember.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Dismember" width="60" height="60">
    </div>
    <div class="str">
      <img src="static/Revolution/AbilityImages/Fury.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Fury" width="60" height="60">
    </div>
    <div class="str">
      <img src="static/Revolution/AbilityImages/Greater_Fury.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Greater_Fury" width="60" height="60">
    </div>
    <div class="str">
      <img src="static/Revolution/AbilityImages/Cleave.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Cleave" width="60" height="60">
    </div>
    <div class="str">
      <img src="static/Revolution/AbilityImages/Decimate.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Decimate" width="60" height="60">
    </div>
  </div>

  <div class="strbox">
    <div class="AbilType" style="background-color: var(--strColor);">Threshold</div>
    <div class="str">
      <img src="static/Revolution/AbilityImages/Stomp.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Stomp" width="60" height="60">
    </div>
    <div class="str">
      <img src="static/Revolution/AbilityImages/Destroy.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Destroy" width="60" height="60">
    </div>
    <div class="str">
      <img src="static/Revolution/AbilityImages/Quake.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Quake" width="60" height="60">
    </div>
    <div class="str">
      <img src="static/Revolution/AbilityImages/Assault.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Assault" width="60" height="60">
    </div>
  </div>

  <div class="strbox">
    <div class="AbilType" style="background-color: var(--strColor);">Ultimate</div>
    <div class="str">
      <img src="static/Revolution/AbilityImages/Berserk.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Berserk" width="60" height="60">
    </div>
    <div class="str">
      <img src="static/Revolution/AbilityImages/Pulverise.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Pulverise" width="60" height="60">
    </div>
    <div class="str">
      <img src="static/Revolution/AbilityImages/Frenzy.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Frenzy" width="60" height="60">
    </div>
  </div>

  <div class="strbox">
    <div class="AbilType" style="background-color: var(--strColor);">Lesser</div>
    <div class="str">
      <img src="static/Revolution/AbilityImages/Lesser_Dismember.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Lesser_Dismember" width="60" height="60">
    </div>
  </div>
</div>

<div id="magabils" class="content AbilBlock" style="background-color: #00008B;">
  <div class="magbox">
    <div class="AbilType" style="background-color: var(--magColor); color: #FFFFFF">Basic</div>
    <div class="mag">
      <img src="static/Revolution/AbilityImages/Wrack.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Wrack" width="60" height="60">
    </div>
    <div class="mag">
      <img src="static/Revolution/AbilityImages/Impact.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Impact" width="60" height="60">
    </div>
    <div class="mag">
      <img src="static/Revolution/AbilityImages/Dragon_Breath.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Dragon_Breath" width="60" height="60">
    </div>
    <div class="mag">
      <img src="static/Revolution/AbilityImages/Sonic_Wave.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Sonic_Wave" width="60" height="60">
    </div>
    <div class="mag">
      <img src="static/Revolution/AbilityImages/Shock.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Shock" width="60" height="60">
    </div>
    <div class="mag">
      <img src="static/Revolution/AbilityImages/Concentrated_Blast.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Concentrated_Blast" width="60" height="60">
    </div>
    <div class="mag">
      <img src="static/Revolution/AbilityImages/Combust.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Combust" width="60" height="60">
    </div>
    <div class="mag">
      <img src="static/Revolution/AbilityImages/Surge.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Surge" width="60" height="60">
    </div>
    <div class="mag">
      <img src="static/Revolution/AbilityImages/Chain.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Chain" width="60" height="60">
    </div>
    <div class="mag">
      <img src="static/Revolution/AbilityImages/Greater_Chain.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Greater_Chain" width="60" height="60">
    </div>
    <div class="mag">
      <img src="static/Revolution/AbilityImages/Corruption_Blast.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Corruption_Blast" width="60" height="60">
    </div>
  </div>

  <div class="magbox">
    <div class="AbilType" style="background-color: var(--magColor); color: #FFFFFF">Threshold</div>
    <div class="mag">
      <img src="static/Revolution/AbilityImages/Asphyxiate.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Asphyxiate" width="60" height="60">
    </div>
    <div class="mag">
      <img src="static/Revolution/AbilityImages/Deep_Impact.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Deep_Impact" width="60" height="60">
    </div>
    <div class="mag">
      <img src="static/Revolution/AbilityImages/Horror.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Horror" width="60" height="60">
    </div>
    <div class="mag">
      <img src="static/Revolution/AbilityImages/Detonate.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Detonate" width="60" height="60">
    </div>
    <div class="mag">
      <img src="static/Revolution/AbilityImages/Wild_Magic.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Wild_Magic" width="60" height="60">
    </div>
    <div class="mag">
      <img src="static/Revolution/AbilityImages/Smoke_Tendrils.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Smoke_Tendrils" width="60" height="60">
    </div>
  </div>

  <div class="magbox">
    <div class="AbilType" style="background-color: var(--magColor); color: #FFFFFF">Ultimate</div>
    <div class="mag">
      <img src="static/Revolution/AbilityImages/Omnipower.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Omnipower" width="60" height="60">
    </div>
    <div class="mag">
      <img src="static/Revolution/AbilityImages/Metamorphosis.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Metamorphosis" width="60" height="60">
    </div>
    <div class="mag">
      <img src="static/Revolution/AbilityImages/Tsunami.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Tsunami" width="60" height="60">
    </div>
    <div class="mag">
      <img src="static/Revolution/AbilityImages/Sunshine.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Sunshine" width="60" height="60">
    </div>
  </div>

  <div class="magbox">
    <div class="AbilType" style="background-color: var(--magColor); color: #FFFFFF">Lesser</div>
    <div class="mag">
      <img src="static/Revolution/AbilityImages/Lesser_Dragon_Breath.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Lesser_Dragon_Breath" width="60" height="60">
    </div>
    <div class="mag">
      <img src="static/Revolution/AbilityImages/Lesser_Sonic_Wave.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Lesser_Sonic_Wave" width="60" height="60">
    </div>
    <div class="mag">
      <img src="static/Revolution/AbilityImages/Lesser_Concentrated_Blast.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Lesser_Concentrated_Blast" width="60" height="60">
    </div>
    <div class="mag">
      <img src="static/Revolution/AbilityImages/Lesser_Combust.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Lesser_Combust" width="60" height="60">
    </div>
  </div>
</div>

<div id="ranabils" class="content AbilBlock" style="background-color: #006400;">
  <div class="ranbox">
    <div class="AbilType" style="background-color: var(--ranColor); color: #FFFFFF">Basic</div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Piercing_Shot.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Piercing_Shot" width="60" height="60">
    </div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Binding_Shot.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Binding_Shot" width="60" height="60">
    </div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Snipe.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Snipe" width="60" height="60">
    </div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Dazing_Shot.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Dazing_Shot" width="60" height="60">
    </div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Greater_Dazing_Shot.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Greater_Dazing_Shot" width="60" height="60">
    </div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Demoralise.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Demoralise" width="60" height="60">
    </div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Needle_Strike.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Needle_Strike" width="60" height="60">
    </div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Fragmentation_Shot.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Fragmentation_Shot" width="60" height="60">
    </div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Escape.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Escape" width="60" height="60">
    </div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Ricochet.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Ricochet" width="60" height="60">
    </div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Greater_Ricochet.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Greater_Ricochet" width="60" height="60">
    </div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Corruption_Shot.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Corruption_Shot" width="60" height="60">
    </div>
  </div>

  <div class="ranbox">
    <div class="AbilType" style="background-color: var(--ranColor); color: #FFFFFF">Threshold</div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Snap_Shot.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Snap_Shot" width="60" height="60">
    </div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Tight_Bindings.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Tight_Bindings" width="60" height="60">
    </div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Rout.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Rout" width="60" height="60">
    </div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Rapid_Fire.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Rapid_Fire" width="60" height="60">
    </div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Bombardment.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Bombardment" width="60" height="60">
    </div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Salt_the_Wound.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Salt_the_Wound" width="60" height="60">
    </div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Shadow_Tendrils.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Shadow_Tendrils" width="60" height="60">
    </div>
  </div>

  <div class="ranbox">
    <div class="AbilType" style="background-color: var(--ranColor); color: #FFFFFF">Ultimate</div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Deadshot.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Deadshot" width="60" height="60">
    </div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Incendiary_Shot.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Incendiary_Shot" width="60" height="60">
    </div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Unload.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Unload" width="60" height="60">
    </div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Death's_Swiftness.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Death's_Swiftness" width="60" height="60">
    </div>
  </div>

  <div class="ranbox">
    <div class="AbilType" style="background-color: var(--ranColor); color: #FFFFFF">Lesser</div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Lesser_Snipe.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Lesser_Snipe" width="60" height="60">
    </div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Lesser_Dazing_Shot.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Lesser_Dazing_Shot" width="60" height="60">
    </div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Lesser_Needle_Strike.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Lesser_Needle_Strike" width="60" height="60">
    </div>
    <div class="ran">
      <img src="static/Revolution/AbilityImages/Lesser_Fragmentation_Shot.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Lesser_Fragmentation_Shot" width="60" height="60">
    </div>
  </div>
</div>

<div id="conabils" class="content AbilBlock" style="background-color: #DE0219;">
  <div class="conbox">
    <div class="AbilType" style="background-color: var(--conColor); color: #FFFFFF">Basic</div>
    <div class="con">
      <img src="static/Revolution/AbilityImages/Sacrifice.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Sacrifice" width="60" height="60">
    </div>
    <div class="con">
      <img src="static/Revolution/AbilityImages/Tuska's_Wrath.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Tuska's_Wrath" width="60" height="60">
    </div>
  </div>

  <div class="conbox">
    <div class="AbilType" style="background-color: var(--conColor); color: #FFFFFF">Threshold</div>
  </div>

  <div class="conbox">
    <div class="AbilType" style="background-color: var(--conColor); color: #FFFFFF">Ultimate</div>
  </div>

  <div class="conbox">
    <div class="AbilType" style="background-color: var(--conColor); color: #FFFFFF">Lesser</div>
  </div>
</div>

<div id="defabils" class="content AbilBlock" style="background-color: #4B4B4B;">
  <div class="defbox">
    <div class="AbilType" style="background-color: var(--defColor); color: #FFFFFF">Basic</div>
    <div class="def">
      <img src="static/Revolution/AbilityImages/Anticipation.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Anticipation" width="60" height="60">
    </div>
    <div class="def">
      <img src="static/Revolution/AbilityImages/Bash.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Bash" width="60" height="60">
    </div>
    <div class="def">
      <img src="static/Revolution/AbilityImages/Freedom.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Freedom" width="60" height="60">
    </div>
  </div>

  <div class="defbox">
    <div class="AbilType" style="background-color: var(--defColor); color: #FFFFFF">Threshold</div>
    <div class="def">
      <img src="static/Revolution/AbilityImages/Devotion.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Devotion" width="60" height="60">
    </div>
    <div class="def">
      <img src="static/Revolution/AbilityImages/Debilitate.png" class="Ability" draggable="true" ondragstart="drag(event)" id="Debilitate" width="60" height="60">
    </div>
  </div>

  <div class="defbox">
    <div class="AbilType" style="background-color: var(--defColor); color: #FFFFFF">Ultimate</div>
  </div>

  <div class="defbox">
    <div class="AbilType" style="background-color: var(--defColor); color: #FFFFFF">Lesser</div>
  </div>
</div>



<div id="RevolutionBar">
  <div id="revo1" class="RevoBar" ondrop="drop(event)" ondragover="allowDrop(event)" style="border-left: 0px; width: 61px;"></div>
  <div id="revo2" class="RevoBar" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
  <div id="revo3" class="RevoBar" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
  <div id="revo4" class="RevoBar" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
  <div id="revo5" class="RevoBar" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
  <div id="revo6" class="RevoBar" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
  <div id="revo7" class="RevoBar" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
  <div id="revo8" class="RevoBar" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
  <div id="revo9" class="RevoBar" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
  <div id="revo10" class="RevoBar" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
  <div id="revo11" class="RevoBar" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
  <div id="revo12" class="RevoBar" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
  <div id="revo13" class="RevoBar" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
  <div id="revo14" class="RevoBar" ondrop="drop(event)" ondragover="allowDrop(event)" style="border-right: 0px; width: 61px"></div>
</div>

<div style="text-align: center;">
  <div class="btn-group">
    <button id="clearbutton" type="button" style="padding: 1px 20px; margin-top: 15px">clear bar</button>
  </div>
</div>

<div style="text-align: center;">
  <div class="btn-group">
    <button id="calcbutton" type="button" style="padding: 10px 40px; margin-top: 50px; margin-bottom: 20px;">FIGHT!</button>
  </div>
</div>

<div id="DPTbox" class="content">
  <div class="outputNote">
    <p id="DPT"></p>
  </div>
</div>

<div id="VerifyBox" class="notecontent">
  <div id="RVN" class="RotationVerifierNote">
    <p id="DPTprint"></p>
  </div>
</div>

<div style="text-align: center;">
  <p id="counter" style="color:#4CAF50; font-size:11px"> Simulated fights since last update: {{counter}}</p>
</div>

<script src="{{ url_for('static', filename='Revolution/bar.js') }}"></script>

{% endblock %}
