{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="static/Nightcorify/song.css">
{% endblock %}
{% block title %}Nightcorify{% endblock %}
{% block content %}

<div class="note">
  <h2 style="text-align: center; margin-bottom: 15px; margin-top: 15px;">Nightcorifier <span style="font-size:small;">V1.00.0</span></h2>
  <button id="general-button" class="note-button">General Info</button>
  <div id="Song-guide" class="content note-collapsible">
    <p style="margin-top: 10px; margin-left: 15px; margin-right: 15px;">
      When I started making this I already had the suspicion that "nightcorifying" a song takes basically
      no effort whatsoever, and indeed, after just a single day learning how to work with the P5 js library
      I can confidently say, fuck all nightcore youtube channels. Stealing good songs, throwing them into a program
      for 5 minutes and making a few bucks from it... Even decent visuals can't make it less of a scummy move.<br><br>

      Try it for yourself. Upload any mp3 file, wait for the start button to appear, click on it and move the
      rate slider. VOILA, YOU MADE NIGHTCORE!
    </p>
  </div>
</div>

<div style="text-align: center;">
  <label class="custom-file-upload">
    <input id="MP3input" type="file" accept=".mp3"/>
    Upload .mp3 file
  </label>
</div>

<div id="BarWaveBox">
  <div class="StuffHider" style="text-align: center; display: none;">
    <div class="btn-group">
      <button id="StartSongButton" type="button">Start!</button>
    </div>
  </div>
</div>

<div class="StuffHider" style="text-align: center; display: none;">
  <div class="slidecontainer">
    <input type="range" class="slider" id="sliderRate">
    <p style="color: #D0D0D0;">Rate: <span id="sliderRateValue"></span></p>
    <input type="range" class="slider" id="sliderTime">
    <p style="color: #D0D0D0;">Time: <span id="sliderTimeValue"></span></p>
  </div>
</div>

<script src="static/Nightcorify/song.js"></script>

{% endblock %}