<!doctype html>
<html>
<head>
    {% block head %}{% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='Main/Frog mask.png') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Main/Main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>{% block title %}{% endblock %}</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body class="body" style="min-height: 100%;">



<div id="mySidenav" class="sidenav">
    <a class="active" href="home">Home</a>
    <a href="bar">Revolution</a>
    <a href="item_ids">Item ID's</a>
    <a href="song">Nightcorify</a>
    <a href="grapher">Grapher</a>
</div>

<div id="main">
  <span style="font-size: 30px; cursor:pointer; color:white;" onclick="sideNav()">&#9776;</span>
</div>


    {% block content %}
    {% endblock %}
<!--    <div class="costumfooter">-->
<!--      <p style="color: #BEBEBE;"> Froggo </p>-->
<!--    </div>-->
<script src="{{ url_for('static', filename='Main/Main.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</body>
</html>