{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='itemIDs/itemIDs.css') }}">
{% endblock %}
{% block title %}Item id's{% endblock %}
{% block content %}

<div style="padding: 20px;">
  <div class="note">
    <h2 style="text-align: center; margin-bottom: 15px; margin-top: 15px;">Item IDs (tradeable)</h2>
    <p style="text-align:center;">Last updated: 22-1-2021</p>
  </div>
</div>

<div style="text-align: center;">
  <div class="btn-group">
    <button id="calcbutton" type="button" onclick="location.href = '{{ url_for('RS.downloadJSON') }}';" style="padding: 10px 40px; margin-top: 30px; margin-bottom: 20px;">Download .json</button>
  </div>
</div>

<div style="text-align: center;">
  <p id="counter" style="color:#4CAF50; font-size:11px">Downloads: {{counter}}</p>
</div>

<div class="note" style="width: 500px;">
    <pre id="JSONprint" onclick="JSONprint({{ item_list }})" style="margin-top: 10px; text-align: center; color: #4CAF50;">Click to show JSON</pre>
</div>

<script src="{{ url_for('static', filename='itemIDs/itemIDs.js') }}"></script>

{% endblock %}